<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="Savvy">
            <directory>./Savvy</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="APPLICATION_MODE" value="test" />
    </php>

    <logging>
        <log type="coverage-html" target="../public/doc/tests"/>
    </logging>

    <filter>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
            <directory suffix=".php">../config</directory>
            <directory suffix=".phtml">../src</directory>
            <directory suffix=".php">../src/Savvy/Storage</directory>
            <directory suffix="Command.php">../src/Savvy/Runner/Console</directory>
        </blacklist>
    </filter>
</phpunit>
