[default]

name = "Savvy"
version = "2013/06/29"
languages = "en,de"
log = "file:filename=log/core.log"
authentication = "database"
timezone = "Europe/Berlin"

[database]

driver = "mysqli"
host = "localhost"
dbname = "savvy"
user = "savvy"
password = "savvy"

[cache]

;driver = "memcache"
;host = "localhost"
;port = 11211

[extjs]

cdn = "http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js"

[runner]

gui = "Savvy\Runner\GUI\Runner"
rest = "Savvy\Runner\REST\Runner"
daemon = "Savvy\Runner\Daemon\Runner"
savvy = "Savvy\Runner\Console\Savvy\Runner"
doctrine = "Savvy\Runner\Console\Doctrine\Runner"

[daemon]

heartbeat = 120
pipe = "tmp/daemon.fifo"
pid = "tmp/daemon.pid"
log = "file:filename=log/daemon.log"
;log = "syslog"

[utility]

isoquery = "isoquery"
